<!DOCTYPE html>
<html>
    <head lang="en">
        {% include 'base/head.html' %}{# 头部的meta标签和css链接 #}
        {% block js %}{% endblock %}
        <title>{% block title %}{# 页面标题写在这里 #}{% endblock %}</title>
	</head>
    <body>
        <div id="wrapper">
            {% include 'base/naver.html' %}
            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="container-fluid">
                    {% block content %}{# 页面主要内容写在这里 #}{% endblock %}
                </div><!-- /.container-fluid -->
            </div><!-- /#page-wrapper -->
        </div>
        {% include 'base/foot.html' %}{# 底部放js脚本链接 #}
        {% block other %}{# 其他一些补充的js #}{% endblock %}
    </body>
    {% block endjs %}{% endblock %}

</html>