html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
/*body{font-family: 'Microsoft Yahei','微软雅黑',Tahoma,Helvetica,Arial,sans-serif;font-size: 14px;color: #666;}*/
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
ul,li{list-style:none}
/*a{text-decoration:none}
a{text-decoration:none}
a:link{text-decoration:none;color: #FFFFFF;}
a:visited{text-decoration:none;color: #FFFFFF;}
a:hover{text-decoration:none;color: #FFFFFF;}
a:active{text-decoration:none;color: #FFFFFF;}*/

#content{height: 20px!important;overflow: hidden;}

tbody img{width: 100px;height: 80px;}

#page-wrapper{padding-bottom: 100px;}

.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.fl{float:left}
.fr{float:right}

.bgf5f5f5{background:#f5f5f5;}
.bggreen{background-color:#edf5f8}
.color_red{color: red;}

.text-left{text-align:left}
.text-center{text-align:center}
.text-right{text-align:right}

.relative{position:relative}

.border-right{border-right:none!important;}
.border-bottom{border-bottom:1px solid #e7e7e7;}

.btn-large{padding:9px 14px;font-size:15px;line-height:normal;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.btn-large [class^="icon-"]{margin-top:1px;}

/*-----------------字休颜色---------*/
.color999{color:#999}
.colorfff{color:#fff!important;}
.colorred{color:#e0583d!important;}
.font16{font-size: 16px}
.font12{font-size:12px;}
.fontweight{font-weight: bolder;}
.lh32{line-height:32px!important}

/*--padding--*/
.pt0{padding-top:0px!important}
.pt1{padding-top:1px!important}
.pt2{padding-top:2px!important}
.pt3{padding-top:3px!important}
.pt4{padding-top:4px!important}
.pt5{padding-top:5px!important}
.pt6{padding-top:6px!important}
.pt7{padding-top:7px!important}
.pt8{padding-top:8px!important}
.pt9{padding-top:9px!important}
.pt10{padding-top:10px!important}
.pt11{padding-top:11px!important}
.pt12{padding-top:12px!important}
.pt13{padding-top:13px!important}
.pt14{padding-top:14px!important}
.pt15{padding-top:15px!important}
.pt16{padding-top:16px!important}
.pt17{padding-top:17px!important}
.pt18{padding-top:18px!important}
.pt19{padding-top:19px!important}
.pt20{padding-top:20px!important}
.pt21{padding-top:21px!important}
.pt22{padding-top:22px!important}
.pt23{padding-top:23px!important}
.pt24{padding-top:24px!important}
.pt25{padding-top:25px!important}
.pt26{padding-top:26px!important}
.pt27{padding-top:27px!important}
.pt28{padding-top:28px!important}
.pt29{padding-top:29px!important}
.pt30{padding-top:30px!important}
.pt31{padding-top:31px!important}
.pt32{padding-top:32px!important}
.pt33{padding-top:33px!important}
.pt34{padding-top:34px!important}
.pt35{padding-top:35px!important}
.pt36{padding-top:36px!important}
.pt37{padding-top:37px!important}
.pt38{padding-top:38px!important}
.pt39{padding-top:39px!important}
.pt40{padding-top:40px!important}
.pt41{padding-top:41px!important}
.pt42{padding-top:42px!important}
.pt43{padding-top:43px!important}
.pt44{padding-top:44px!important}
.pt45{padding-top:45px!important}
.pt46{padding-top:46px!important}
.pt47{padding-top:47px!important}
.pt48{padding-top:48px!important}
.pt49{padding-top:49px!important}
.pt50{padding-top:50px!important}
.pt55{padding-top:55px!important}
.pt60{padding-top:60px!important}
.pt65{padding-top:65px!important}
.pt70{padding-top:70px!important}
.pt75{padding-top:75px!important}
.pt80{padding-top:80px!important}
.pt85{padding-top:85px!important}
.pt90{padding-top:90px!important}
.pt95{padding-top:95px!important}
.pt100{padding-top:100px!important}
.pt110{padding-top:110px!important}
.pt120{padding-top:120px!important}
.pt150{padding-top:150px!important}

.pb0{padding-bottom:0px!important}
.pb1{padding-bottom:1px!important}
.pb2{padding-bottom:2px!important}
.pb3{padding-bottom:3px!important}
.pb4{padding-bottom:4px!important}
.pb5{padding-bottom:5px!important}
.pb6{padding-bottom:6px!important}
.pb7{padding-bottom:7px!important}
.pb8{padding-bottom:8px!important}
.pb9{padding-bottom:9px!important}
.pb10{padding-bottom:10px!important}
.pb11{padding-bottom:11px!important}
.pb12{padding-bottom:12px!important}
.pb13{padding-bottom:13px!important}
.pb14{padding-bottom:14px!important}
.pb15{padding-bottom:15px!important}
.pb16{padding-bottom:16px!important}
.pb17{padding-bottom:17px!important}
.pb18{padding-bottom:18px!important}
.pb19{padding-bottom:19px!important}
.pb20{padding-bottom:20px!important}
.pb21{padding-bottom:21px!important}
.pb22{padding-bottom:22px!important}
.pb23{padding-bottom:23px!important}
.pb24{padding-bottom:24px!important}
.pb25{padding-bottom:25px!important}
.pb26{padding-bottom:26px!important}
.pb27{padding-bottom:27px!important}
.pb28{padding-bottom:28px!important}
.pb29{padding-bottom:29px!important}
.pb30{padding-bottom:30px!important}
.pb31{padding-bottom:31px!important}
.pb32{padding-bottom:32px!important}
.pb33{padding-bottom:33px!important}
.pb34{padding-bottom:34px!important}
.pb35{padding-bottom:35px!important}
.pb36{padding-bottom:36px!important}
.pb37{padding-bottom:37px!important}
.pb38{padding-bottom:38px!important}
.pb39{padding-bottom:39px!important}
.pb40{padding-bottom:40px!important}
.pb41{padding-bottom:41px!important}
.pb42{padding-bottom:42px!important}
.pb43{padding-bottom:43px!important}
.pb44{padding-bottom:44px!important}
.pb45{padding-bottom:45px!important}
.pb46{padding-bottom:46px!important}
.pb47{padding-bottom:47px!important}
.pb48{padding-bottom:48px!important}
.pb49{padding-bottom:49px!important}
.pb50{padding-bottom:50px!important}
.pb55{padding-bottom:55px!important}
.pb60{padding-bottom:60px!important}
.pb65{padding-bottom:65px!important}
.pb68{padding-bottom:68px!important}
.pb70{padding-bottom:70px!important}
.pb75{padding-bottom:75px!important}
.pb80{padding-bottom:80px!important}
.pb85{padding-bottom:85px!important}
.pb90{padding-bottom:90px!important}
.pb95{padding-bottom:95px!important}
.pb100{padding-bottom:100px!important}



.pl0{padding-left:0px!important}
.pl1{padding-left:1px!important}
.pl2{padding-left:2px!important}
.pl3{padding-left:3px!important}
.pl4{padding-left:4px!important}
.pl5{padding-left:5px!important}
.pl6{padding-left:6px!important}
.pl7{padding-left:7px!important}
.pl8{padding-left:8px!important}
.pl9{padding-left:9px!important}
.pl10{padding-left:10px!important}
.pl11{padding-left:11px!important}
.pl12{padding-left:12px!important}
.pl13{padding-left:13px!important}
.pl14{padding-left:14px!important}
.pl15{padding-left:15px!important}
.pl16{padding-left:16px!important}
.pl17{padding-left:17px!important}
.pl18{padding-left:18px!important}
.pl19{padding-left:19px!important}
.pl20{padding-left:20px!important}
.pl21{padding-left:21px!important}
.pl22{padding-left:22px!important}
.pl23{padding-left:23px!important}
.pl24{padding-left:24px!important}
.pl25{padding-left:25px!important}
.pl26{padding-left:26px!important}
.pl27{padding-left:27px!important}
.pl28{padding-left:28px!important}
.pl29{padding-left:29px!important}
.pl30{padding-left:30px!important}
.pl31{padding-left:31px!important}
.pl32{padding-left:32px!important}
.pl33{padding-left:33px!important}
.pl34{padding-left:34px!important}
.pl35{padding-left:35px!important}
.pl36{padding-left:36px!important}
.pl37{padding-left:37px!important}
.pl38{padding-left:38px!important}
.pl39{padding-left:39px!important}
.pl40{padding-left:40px!important}
.pl41{padding-left:41px!important}
.pl42{padding-left:42px!important}
.pl43{padding-left:43px!important}
.pl44{padding-left:44px!important}
.pl45{padding-left:45px!important}
.pl46{padding-left:46px!important}
.pl47{padding-left:47px!important}
.pl48{padding-left:48px!important}
.pl49{padding-left:49px!important}
.pl50{padding-left:50px!important}
.pl55{padding-left:55px!important}
.pl60{padding-left:60px!important}
.pl65{padding-left:65px!important}
.pl70{padding-left:70px!important}
.pl75{padding-left:75px!important}
.pl80{padding-left:80px!important}
.pl85{padding-left:85px!important}
.pl90{padding-left:90px!important}
.pl95{padding-left:95px!important}
.pl100{padding-left:100px!important}
.pl150{padding-left:150px!important}

.pr0{padding-right:0px!important}
.pr1{padding-right:1px!important}
.pr2{padding-right:2px!important}
.pr3{padding-right:3px!important}
.pr4{padding-right:4px!important}
.pr5{padding-right:5px!important}
.pr6{padding-right:6px!important}
.pr7{padding-right:7px!important}
.pr8{padding-right:8px!important}
.pr9{padding-right:9px!important}
.pr10{padding-right:10px!important}
.pr11{padding-right:11px!important}
.pr12{padding-right:12px!important}
.pr13{padding-right:13px!important}
.pr14{padding-right:14px!important}
.pr15{padding-right:15px!important}
.pr16{padding-right:16px!important}
.pr17{padding-right:17px!important}
.pr18{padding-right:18px!important}
.pr19{padding-right:19px!important}
.pr20{padding-right:20px!important}
.pr21{padding-right:21px!important}
.pr22{padding-right:22px!important}
.pr23{padding-right:23px!important}
.pr24{padding-right:24px!important}
.pr25{padding-right:25px!important}
.pr26{padding-right:26px!important}
.pr27{padding-right:27px!important}
.pr28{padding-right:28px!important}
.pr29{padding-right:29px!important}
.pr30{padding-right:30px!important}
.pr31{padding-right:31px!important}
.pr32{padding-right:32px!important}
.pr33{padding-right:33px!important}
.pr34{padding-right:34px!important}
.pr35{padding-right:35px!important}
.pr36{padding-right:36px!important}
.pr37{padding-right:37px!important}
.pr38{padding-right:38px!important}
.pr39{padding-right:39px!important}
.pr40{padding-right:40px!important}
.pr41{padding-right:41px!important}
.pr42{padding-right:42px!important}
.pr43{padding-right:43px!important}
.pr44{padding-right:44px!important}
.pr45{padding-right:45px!important}
.pr46{padding-right:46px!important}
.pr47{padding-right:47px!important}
.pr48{padding-right:48px!important}
.pr49{padding-right:49px!important}
.pr50{padding-right:50px!important}
.pr55{padding-right:55px!important}
.pr60{padding-right:60px!important}
.pr65{padding-right:65px!important}
.pr70{padding-right:70px!important}
.pr75{padding-right:75px!important}
.pr80{padding-right:80px!important}
.pr85{padding-right:85px!important}
.pr90{padding-right:90px!important}
.pr95{padding-right:95px!important}
.pr100{padding-right:100px!important}

/*---margin----*/

.mt1{margin-top:1px!important}
.mt2{margin-top:2px!important}
.mt3{margin-top:3px!important}
.mt4{margin-top:4px!important}
.mt5{margin-top:5px!important}
.mt6{margin-top:6px!important}
.mt7{margin-top:7px!important}
.mt8{margin-top:8px!important}
.mt9{margin-top:9px!important}
.mt10{margin-top:10px!important}
.mt11{margin-top:11px!important}
.mt12{margin-top:12px!important}
.mt13{margin-top:13px!important}
.mt14{margin-top:14px!important}
.mt15{margin-top:15px!important}
.mt16{margin-top:16px!important}
.mt17{margin-top:17px!important}
.mt18{margin-top:18px!important}
.mt19{margin-top:19px!important}
.mt20{margin-top:20px!important}
.mt21{margin-top:21px!important}
.mt22{margin-top:22px!important}
.mt23{margin-top:23px!important}
.mt24{margin-top:24px!important}
.mt25{margin-top:25px!important}
.mt26{margin-top:26px!important}
.mt27{margin-top:27px!important}
.mt28{margin-top:28px!important}
.mt29{margin-top:29px!important}
.mt30{margin-top:30px!important}
.mt31{margin-top:31px!important}
.mt32{margin-top:32px!important}
.mt33{margin-top:33px!important}
.mt34{margin-top:34px!important}
.mt35{margin-top:35px!important}
.mt36{margin-top:36px!important}
.mt37{margin-top:37px!important}
.mt38{margin-top:38px!important}
.mt39{margin-top:39px!important}
.mt40{margin-top:40px!important}
.mt41{margin-top:41px!important}
.mt42{margin-top:42px!important}
.mt43{margin-top:43px!important}
.mt44{margin-top:44px!important}
.mt45{margin-top:45px!important}
.mt46{margin-top:46px!important}
.mt47{margin-top:47px!important}
.mt48{margin-top:48px!important}
.mt49{margin-top:49px!important}
.mt50{margin-top:50px!important}
.mt55{margin-top:55px!important}
.mt60{margin-top:60px!important}
.mt65{margin-top:65px!important}
.mt70{margin-top:70px!important}
.mt75{margin-top:75px!important}
.mt80{margin-top:80px!important}
.mt85{margin-top:85px!important}
.mt90{margin-top:90px!important}
.mt95{margin-top:95px!important}
.mt100{margin-top:100px!important}


.mb1{margin-bottom:1px!important}
.mb2{margin-bottom:2px!important}
.mb3{margin-bottom:3px!important}
.mb4{margin-bottom:4px!important}
.mb5{margin-bottom:5px!important}
.mb6{margin-bottom:6px!important}
.mb7{margin-bottom:7px!important}
.mb8{margin-bottom:8px!important}
.mb9{margin-bottom:9px!important}
.mb10{margin-bottom:10px!important}
.mb11{margin-bottom:11px!important}
.mb12{margin-bottom:12px!important}
.mb13{margin-bottom:13px!important}
.mb14{margin-bottom:14px!important}
.mb15{margin-bottom:15px!important}
.mb16{margin-bottom:16px!important}
.mb17{margin-bottom:17px!important}
.mb18{margin-bottom:18px!important}
.mb19{margin-bottom:19px!important}
.mb20{margin-bottom:20px!important}
.mb21{margin-bottom:21px!important}
.mb22{margin-bottom:22px!important}
.mb23{margin-bottom:23px!important}
.mb24{margin-bottom:24px!important}
.mb25{margin-bottom:25px!important}
.mb26{margin-bottom:26px!important}
.mb27{margin-bottom:27px!important}
.mb28{margin-bottom:28px!important}
.mb29{margin-bottom:29px!important}
.mb30{margin-bottom:30px!important}
.mb31{margin-bottom:31px!important}
.mb32{margin-bottom:32px!important}
.mb33{margin-bottom:33px!important}
.mb34{margin-bottom:34px!important}
.mb35{margin-bottom:35px!important}
.mb36{margin-bottom:36px!important}
.mb37{margin-bottom:37px!important}
.mb38{margin-bottom:38px!important}
.mb39{margin-bottom:39px!important}
.mb40{margin-bottom:40px!important}
.mb41{margin-bottom:41px!important}
.mb42{margin-bottom:42px!important}
.mb43{margin-bottom:43px!important}
.mb44{margin-bottom:44px!important}
.mb45{margin-bottom:45px!important}
.mb46{margin-bottom:46px!important}
.mb47{margin-bottom:47px!important}
.mb48{margin-bottom:48px!important}
.mb49{margin-bottom:49px!important}
.mb50{margin-bottom:50px!important}
.mb55{margin-bottom:55px!important}
.mb60{margin-bottom:60px!important}
.mb65{margin-bottom:65px!important}
.mb70{margin-bottom:70px!important}
.mb75{margin-bottom:75px!important}
.mb80{margin-bottom:80px!important}
.mb85{margin-bottom:85px!important}
.mb90{margin-bottom:90px!important}
.mb95{margin-bottom:95px!important}
.mb100{margin-bottom:100px!important}

.ml1{margin-left:1px!important}
.ml2{margin-left:2px!important}
.ml3{margin-left:3px!important}
.ml4{margin-left:4px!important}
.ml5{margin-left:5px!important}
.ml6{margin-left:6px!important}
.ml7{margin-left:7px!important}
.ml8{margin-left:8px!important}
.ml9{margin-left:9px!important}
.ml10{margin-left:10px!important}
.ml11{margin-left:11px!important}
.ml12{margin-left:12px!important}
.ml13{margin-left:14px!important}
.ml14{margin-left:14px!important}
.ml15{margin-left:15px!important}
.ml16{margin-left:16px!important}
.ml17{margin-left:17px!important}
.ml18{margin-left:18px!important}
.ml19{margin-left:19px!important}
.ml20{margin-left:20px!important}
.ml21{margin-left:21px!important}
.ml22{margin-left:22px!important}
.ml23{margin-left:23px!important}
.ml24{margin-left:24px!important}
.ml25{margin-left:25px!important}
.ml26{margin-left:26px!important}
.ml27{margin-left:27px!important}
.ml28{margin-left:28px!important}
.ml29{margin-left:29px!important}
.ml30{margin-left:30px!important}
.ml31{margin-left:31px!important}
.ml32{margin-left:32px!important}
.ml33{margin-left:33px!important}
.ml34{margin-left:34px!important}
.ml35{margin-left:35px!important}
.ml36{margin-left:36px!important}
.ml37{margin-left:37px!important}
.ml38{margin-left:38px!important}
.ml39{margin-left:39px!important}
.ml40{margin-left:40px!important}
.ml41{margin-left:41px!important}
.ml42{margin-left:42px!important}
.ml43{margin-left:43px!important}
.ml44{margin-left:44px!important}
.ml45{margin-left:45px!important}
.ml46{margin-left:46px!important}
.ml47{margin-left:47px!important}
.ml48{margin-left:48px!important}
.ml49{margin-left:49px!important}
.ml50{margin-left:50px!important}
.ml55{margin-left:55px!important}
.ml60{margin-left:60px!important}
.ml65{margin-left:65px!important}
.ml70{margin-left:70px!important}
.ml75{margin-left:75px!important}
.ml80{margin-left:80px!important}
.ml85{margin-left:85px!important}
.ml90{margin-left:90px!important}
.ml95{margin-left:95px!important}
.ml100{margin-left:100px!important}
.ml150{margin-left:150px!important}
.ml200{margin-left:200px!important}

.mr0{margin-right:0px!important}
.mr1{margin-right:1px!important}
.mr2{margin-right:2px!important}
.mr3{margin-right:3px!important}
.mr4{margin-right:4px!important}
.mr5{margin-right:5px!important}
.mr6{margin-right:6px!important}
.mr7{margin-right:7px!important}
.mr8{margin-right:8px!important}
.mr9{margin-right:9px!important}
.mr10{margin-right:10px!important}
.mr11{margin-right:11px!important}
.mr12{margin-right:12px!important}
.mr13{margin-right:13px!important}
.mr14{margin-right:14px!important}
.mr15{margin-right:15px!important}
.mr16{margin-right:16px!important}
.mr17{margin-right:17px!important}
.mr18{margin-right:18px!important}
.mr19{margin-right:19px!important}
.mr20{margin-right:20px!important}
.mr21{margin-right:21px!important}
.mr22{margin-right:22px!important}
.mr23{margin-right:23px!important}
.mr24{margin-right:24px!important}
.mr25{margin-right:25px!important}
.mr26{margin-right:26px!important}
.mr27{margin-right:27px!important}
.mr28{margin-right:28px!important}
.mr29{margin-right:29px!important}
.mr30{margin-right:30px!important}
.mr31{margin-right:31px!important}
.mr32{margin-right:32px!important}
.mr33{margin-right:33px!important}
.mr34{margin-right:34px!important}
.mr35{margin-right:35px!important}
.mr36{margin-right:36px!important}
.mr37{margin-right:37px!important}
.mr38{margin-right:38px!important}
.mr39{margin-right:39px!important}
.mr40{margin-right:40px!important}
.mr41{margin-right:41px!important}
.mr42{margin-right:42px!important}
.mr43{margin-right:43px!important}
.mr44{margin-right:44px!important}
.mr45{margin-right:45px!important}
.mr46{margin-right:46px!important}
.mr47{margin-right:47px!important}
.mr48{margin-right:48px!important}
.mr49{margin-right:49px!important}
.mr50{margin-right:50px!important}
.mr55{margin-right:55px!important}
.mr60{margin-right:60px!important}
.mr65{margin-right:65px!important}
.mr70{margin-right:70px!important}
.mr75{margin-right:75px!important}
.mr80{margin-right:80px!important}
.mr85{margin-right:85px!important}
.mr90{margin-right:90px!important}
.mr95{margin-right:95px!important}
.mr100{margin-right:100px!important}