{% extends 'base/admin_base.html' %}
{% block title %}后台 | 文章编辑{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">编辑文章</h1>
        </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->

    <div class="row">
        <form action="{% url 'article_edit' article.article_id %}" class="form-horizontal" method="post">{% csrf_token %}
            <div class="form-group">
                <label for="" class="col-sm-2 control-label pt5 text-right">标题：</label>
                <div class="col-sm-6">
                    <input type="text" name="title" id="" value="{{ article.article_title }}" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label pt5 text-right">作者：</label>
                <div class="col-sm-6">
                    <input type="text" name="author" id="" value="{{ article.article_author }}" class="form-control" readonly/>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label pt5 text-right">所属分类：</label>
                <div class="col-sm-6">
                    <select name="cat_id" class="form-control">
                        {% for item in cats %}
                            <option value="{{ item.cat_id }}">{{ item.cat_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label pt5 text-right">发布时间：</label>
                <div class="col-sm-6">
                    <input type="text" name="publish_time" id="" value="{{ article.publish_time|date:'Y-m-d h:m:s' }}" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-sm-2 control-label pt5 text-right">正文内容：</label>
                <div class="col-sm-6">
                    <textarea type="text" name="content" id="" class="form-control" rows="12">{{ article.article_content }}</textarea>
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-10 mt20">
                <button type="submit" class="btn btn-primary">提交</button>
                <button type="submit" class="btn btn-default" onclick="history.go(-1);return false">返回</button>
            </div>
        </form>
    </div>
{% endblock %}

                

