{% extends 'base/admin_base.html' %}
{% block title %}后台 | 分类管理{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">分类管理</h1>
        </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading text-right">
                    <a href="{% url "cat_add" %}">添加分类</a>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr >
                                    <th>ID</th>
                                    <th>分类名称</th>
                                    <th>父分类ID</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for i in cat_list %}
                                <tr>
                                    <td>{{ i.cat_id }}</td>
                                    <td>{{ i.cat_name}}</td>
                                    <td>{{ i.cat_father }}</td>
            `                       <td>
                                        <a href="{% url "cat_edit" i.cat_id%}" class="ml10 mr10">编辑</a>
                                        <a href="{% url "cat_delete" i.cat_id %}" class="ml10 mr10">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /.table-responsive -->
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div>
    </div>
{% endblock %}


